html, body {
  margin: 0;
  height: 100%;
}

body {
  color: white;
  font-family: "Impact", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  background: transparent;
}

body div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button {
  cursor: pointer;
  border: none;
  width: 200px;
  height: 200px;
}

button:hover {
  transform: rotate(-45deg) !important;
} 

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.cloud {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top left;
  background-repeat: repeat-x;
}

.cloud::after {
  display: block;
  position: relative;
  left: 100%;
  width: 100%;
  height: 100%;
  background-size: inherit;
  background-position: inherit;
  background-image: inherit;
  content: " "; 
}

.cloud.level-one {
  background-image: url(./images/clouds1.png);
  animation: cloudpan 460s 0s infinite linear;
  margin-bottom: 10em;
}

.cloud.level-two {
  background-image: url(./images/clouds2.png);
  animation: cloudpan 300s 0s infinite linear;
}

.cloud img {
  display: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: #557cac;
  background-size: cover;
  background-position: top left;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

#score, #display {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000,
               -2px -2px 0 #000,
               2px -2px 0 #000,
               -2px 2px 0 #000,
               0px 2px 0 #000,
               2px 0px 0 #000,
               0px -2px 0 #000,
               -2px 0px 0 #000,
               2px 2px 5px #000;
}

#buttons {
  display: flex;
  justify-items: space-evenly;
  align-items: center;
  gap: 5em;
}

#rock {
  background: url(./images/rock.png) no-repeat;
  background-position: center;
  background-size: contain;
}

#paper {
  background: url(./images/paper.png) no-repeat;
  background-position: center;
  background-size: contain;
}

#scissors {
  background: url(./images/scissors.png) no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-90deg);
}

@keyframes cloudpan {
  0% {
    transform: translateX(0) translateZ(0);
  }

  100% {
    transform: translateX(-100%) translateZ(0);
  }
}